@use '../variables' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100%;
  padding: 20px 10px;
  background-color: var(--bg-surface);
}
.about {
  margin: 0 0 40px;
  text-align: center;
  .cover-author-image {
    width: 120px;
    height: 150px;
    margin: 0 auto 10px;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.35s;
    &:hover {
      transform: scale3d(0.90,0.90,1);
    }
  }
  .author-name {
    font-family: 'PT Serif', serif;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 15px;
    font-size: 16px;
    text-transform: lowercase;
    color: var(--text-heading);
    font-weight: 700;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: var(--text-primary);
    }
  }
  p {
    font-size: 16px;
    margin: 0 0 10px;
  }
}

.content-box {
  padding: 20px 20px 20px 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.contact {
  .contact-title {
    position: relative;
    color: var(--text-heading);
    font-weight: 400;
    font-size: 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
    text-align: center;
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 48px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 0;
      background-color: var(--text-primary);
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: calc(50% - 48px);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 0;
      background-color: var(--text-primary);
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: var(--text-primary);
        display: block;
        padding: 5px;
        font-size: 18px;
        transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
        &:hover {
          color: var(--text-heading);
          transform: scale(1.2);
        }
        svg {
          fill: currentColor;
          path {
            fill: currentColor;
          }
        }
      }
    }
  }
}

footer {
  .copyright {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

// Reducing min-height from 11rem to eliminate wasteful padding
$minHeightForPost: 4rem;

.post {
  // Changing to 50% to trigger two-column view ( on desktop )
  width: 50%;
  max-width: 50%;

  // Tightening up space below post
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: $minHeightForPost;

  overflow: hidden;
  transition: all .3s ease;
  box-shadow: 0 1px 1px 0 var(--shadow-color);
  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px var(--shadow-hover);
  }

  .post-thumbnail {
    width: 30%;
    max-width: 100%;
    min-height: $minHeightForPost;
    background-size: cover;
    background-position: 50% 50%;

    // Improves vertical alignment of title alongside thumbnail
    padding-top: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .post-content {
    // Adjusted padding so that title/desc looks is top-aligned so that
    // it matches neighboring thumbnail
    padding-top: 0;
    padding-left: 0.8rem;

    width: 70%;
    .post-date,
    .post-words {
      font-size: 12px;
    }
    .post-title {
      margin: 0 0 10px;
      // Smaller font size ( was 30px )
      font-size: 22px;
      font-weight: 400;
      a {
        font-family: 'PT Serif', serif;
        text-decoration: none;
        color: var(--text-link);
      }
    }
    p {
      margin-top: 0;
      // Removed margin so that poste date shows directly below
      margin-bottom: 0;
    }
  }
}

a.older-posts, a.newer-posts {
  font-size: 18px;
  display: inline-block;
  color: var(--text-primary);
  transition: transform .2s;
}

a.older-posts:hover {
  transform: translateX(5px);
}

a.newer-posts:hover {
  transform: translateX(-5px);
}
