@use '../variables' as *;

.blog-tags {
  width: 100%;
  background-color: var(--bg-surface);
  padding: 0 20px 20px;
  h1 {
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
    color: var(--text-link);
  }
  h2 {
    color: var(--text-link);
    margin: 10px 0;
  }
  span {
    a {
      text-decoration: none;
      color: var(--text-link);
      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
  }
}

.tags {
  margin: 0;
  padding: 10px;
  li {
    display: inline-block;
    margin: 5px;
    list-style: none;
    a {
      text-decoration: none;
      color: var(--text-link);
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid var(--border-color);
      background-color: var(--bg-surface-alt);
      transition: all 0.3s;
      &:hover {
        background-color: var(--bg-hover);
      }
    }
  }
}

.tag-list {
  list-style-type: none;
  li {
    a {
      text-decoration: none;
      color: var(--text-link);
      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
  }
}

.page-tag {
  span {
    a {
      text-decoration: none;
      color: var(--text-link);
      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
  }
}

// Standalone tag link class
a.tag {
  text-decoration: none;
  color: var(--text-link);
  &:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
}
