---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404: Not Found">
  <div class="content-box clearfix">
    <h1>That page doesn't exist.</h1>
  </div>
</BaseLayout>
